<h1>Demo upload</h1>

<%= msg %>

<% if(url_file) { %>
<img src="<%= url_file%>" alt="" srcset="">
<% } %>
<form action="" method="post" enctype="multipart/form-data">
    <input type="file" name="file_anh">
    <button type="submit">Upload</button>
</form>
