<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap-5.2.3-dist/css/main.css">
    <link rel="stylesheet" href="/bootstrap-5.2.3-dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  
    <style>
        .btn {
            margin: auto;
            display: block;
            width: 100px;
        }

        .modal-title {
            margin: auto;
            display: block;
        }


        .input-group-text {
            width: 100px;
            margin: auto;
            display: block;
        }

        .form-check-inline {
            justify-content: center;
            align-items: center;
            margin: auto;
            display: block;
        }

        .fullhang {
            display: flex;
        }

        .checkbox {
            display: flex;
            margin-left: 50px;
        }

        .a1 {
            margin-left: 20px;
        }

        .form-inline {
            display: flex;
        }

        .nav-link {
            color: black;
        }

        .nav-link:hover {
            color: deepskyblue;
            background-color: bisque;
        }

        .h3 {
            text-align: center;
            font-size: 80px;
        }

        .h5 {
            text-align: center;
            font-size: 30px;
            margin-top: 50px;
            margin-bottom: 10px;
        }

        .text-center {
            margin-top: 10px;
        }
    </style>
</head>

<body class="container">
    
    <nav class="navbar navbar-expand-lg fixed-top  col-12 col-sm-9 col-md-10" style="background-color: lightblue; margin: auto;">
        <div class="container-fluid">
          <img class="baner" src="Images/img3.png" style="width: 100px; height: 100px; border-radius: 100%; " alt="">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse col-12 col-sm-10 col-md-11" id="navbarNavDropdown">
            <ul class="navbar-nav col-12 col-sm-5 col-md-5" style="margin-left: 30px;font-size: 20px;">
    
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
              </li>
    
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">User</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/user">User</a></li>
                  <li><a class="dropdown-item" href="/table">Group</a></li>
                  <li><a class="dropdown-item" href="#">Role</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">Products</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/sp">Product</a></li>
                  <li><a class="dropdown-item" href="/sp">Category</a></li>
                  <li><a class="dropdown-item" href="#">Tag</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">Settings</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Banner</a></li>
                  <li><a class="dropdown-item" href="">Info</a></li>
                </ul>
              </li>
            </ul>

            <nav class="navbar navbar-light  col-12 col-sm-6 col-md-6">
                <form class=" form-inline col-12 col-sm-12 col-md-12 ">
        
                    <div class=" col-6 col-sm-6 col-md-6" style=" margin-left: auto;">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    </div>
                    <div class="col-3 col-sm-3 col-md-1">
                        <button class="btn btn-outline-success " type="submit">Search</button>
                    </div>
                    <!-- Button trigger modal -->
                    <div class="col-3 col-sm-2 col-md-2" style="margin-left: auto;">
                        <button type="button"  class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Add User
                        </button>
                    </div>
                </form>
        
            </nav>
          </div>

        </div>
      </nav>

    <h3 class="h3" style="margin-top: 100px;">user</h3>

   
    <h5 class="h5">Thông tin người dùng</h5>

    <table class="table table-bordered col">
        <thead style="width: auto;">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Avata</th>
              <th scope="col"> Fullname</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Group</th>
              <th scope="col">Status</th>
              <th scope="col">Chức năng</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=0;i<objects.length;i++){%>
              <tr>
                  <td><%= i+1 %></td>
                  <td style="text-align: center; vertical-align: middle;max-width: 50px;"><img src=<%= objects[i].img %> alt="anh" style="width: 80px; height: 80px;"></td>
                  <td><%= objects[i].Fullname %></td>
                  <td><%= objects[i].username %></td>
                  <td><%= objects[i].email %></td>
                  <td><%= objects[i].group %></td>
                  <!-- <td><%= objects[i].status %></td> -->
                   <td class="mx-auto">
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" <%= objects[i].status %>>
                         
                        </div>
                  </td>
                  <td style="text-align: center;"><button type="button"  class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal1">click me</button></td>
              </tr>
               <%}%>
            
          </tbody>
      </table>

    <!-- thông tin thông số của trang -->
    <div class="row" style="display: flex;">
        <div class="col-12 col-sm-12 col-md-6">
            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Đang xem 1 đến 10
                trong tổng số 0 mục</div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 dataTables_pager" style="display: flex;">
            <div class="dataTables_length col-8 col-sm-9 col-md-6" id="DataTables_Table_0_length">
                <label style="display: flex;">Xem <select style="width: 40px;" name="DataTables_Table_0_length"
                        aria-controls="DataTables_Table_0"
                        class="custom-select custom-select-sm form-control form-control-sm">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select> mục</label>
            </div>
            <div class="dataTables_paginate paging_simple_numbers" style="margin-left: auto;"
                id="DataTables_Table_0_paginate">
                <ul class="pagination">
                    <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#"
                            aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Trước</a>
                    </li>
                    <li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0"
                            data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                    <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0"
                            data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                    <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#"
                            aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0" class="page-link">Sau</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- hết  thông tin thông số của trang -->


    <!-- Modal add -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header " style="background-color: aqua;">
                    <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: black; margin-left: 190px;">Add user</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- thân modal -->
                <div class="modal-body">
                    <div class="container" id="add-form">
                        <div class="row">
                            <div class="card">
                                <div class="card-body col-md-12 ">
                                    <form action="/sp/add" method="post">
                                        <div class="mb-3">
                                            <label for="fullname" class="form-label">FullName</label>
                                            <input type="text" class="form-control" id="nameInput" name="Fullname">
                                        </div>
                                        <div class="mb-3">
                                            <label for="username" class="form-label">Username</label>
                                            <input type="text" class="form-control" id="usernameInput" name="username">
                                        </div>
                                        <div class="mb-3">
                                            <label for="password" class="form-label">Password</label>
                                            <input type="password" class="form-control" id="passwordInput" name="password">
                                        </div>
                                        <div class="mb-3">
                                            <label for="email" class="form-label">Email</label>
                                            <input type="email" class="form-control" id="emailInput" name="email">
                                        </div>
                                        <div class="mb-3">
                                            <label for="group" class="form-label">Group</label>
                                            <select class="form-select" id="groupInput" name="group">
                                                <option selected>Choose...</option>
                                                <option value="CP17306">CP17306</option>
                                                <option value="CP17307">CP17307</option>
                                                <option value="CP17308">CP17308</option>
                                                <option value="CP17309">CP17309</option>
                                                <option value="CP17310">CP17310</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="status" class="form-label">Status</label>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="statusInput"
                                                    name="status" value="on">
                                                <label class="form-check-label" for="status">
                                                    Checked
                                                </label>
                                            </div>
                                        </div>
                                        <button type="submit" action="/add" method="post" class="btn btn-primary">Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <!-- hết thân modal        -->
            </div>
        </div>
    </div>
    <!-- hết modal add-->

     <!-- Modal update -->
     <div class="modal fade" id="exampleModal11" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header " style="background-color: aqua;">
                    <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: black; margin-left: 190px;">Update user</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- thân modal -->
                <div class="modal-body">
                    <div class="container" id="add-form">
                        <div class="row">
                            <div class="card">
                                <div class="card-body col-md-12 ">
                                    <form action="/sp/update" method="put">
                                        <div class="mb-3">
                                            <label for="fullname" class="form-label">FullName</label>
                                            <input type="text" class="form-control" id="nameInput" name="Fullname">
                                        </div>
                                        <div class="mb-3">
                                            <label for="username" class="form-label">Username</label>
                                            <input type="text" class="form-control" id="usernameInput" name="username">
                                        </div>
                                        <div class="mb-3">
                                            <label for="password" class="form-label">Password</label>
                                            <input type="password" class="form-control" id="passwordInput" name="password">
                                        </div>
                                        <div class="mb-3">
                                            <label for="email" class="form-label">Email</label>
                                            <input type="email" class="form-control" id="emailInput" name="email">
                                        </div>
                                        <div class="mb-3">
                                            <label for="group" class="form-label">Group</label>
                                            <select class="form-select" id="groupInput" name="group">
                                                <option selected>Choose...</option>
                                                <option value="CP17306">CP17306</option>
                                                <option value="CP17307">CP17307</option>
                                                <option value="CP17308">CP17308</option>
                                                <option value="CP17309">CP17309</option>
                                                <option value="CP17310">CP17310</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="status" class="form-label">Status</label>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="statusInput"
                                                    name="status" value="on">
                                                <label class="form-check-label" for="status">
                                                    Checked
                                                </label>
                                            </div>
                                        </div>
                                        <button type="submit" action="/update" method="put" class="btn btn-primary">Update</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <!-- hết thân modal        -->
            </div>
        </div>
    </div>
    <!-- hết modal update-->

    <!-- modal chức năng -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header " style="background-color: aqua;">
                    <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: black; margin-left: 190px;">Chức năng</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- thân modal -->
                <div class="modal-body">
                    <div class="container" id="add-form">
                        <div class="row">
                            <div class="card">
                                <div class="card-body col-md-12 ">
                                    <form style="display: flex;">
                                        <button type="button"  class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal11">Update</button>
            
                                        <button type="button"  class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal12">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <!-- hết thân modal        -->
            </div>
        </div>
    </div>
    <!-- hết modal chức năng-->

<!-- modal chức năng delete-->
<div class="modal fade" id="exampleModal12" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header " style="background-color: aqua;">
                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: black; margin-left: 190px;">Delete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- thân modal -->
            <div class="modal-body">
                <div class="container" id="add-form">
                    <div class="row">
                        <div class="card">
                            <div class="card-body col-md-12 ">
                                <form action="/sp/delete" method="delete">
                                    <h3>!!!cảnh báo bạn đang xóa đi dữ liệu!!!</h3>
                                    <div style="display: flex;">
                                    <button type="button" aria-label="Close" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        
                                    <button type="button" method="delete"  class="btn btn-primary">Delete</button>
                                </div></form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            <!-- hết thân modal        -->
        </div>
    </div>
</div>
<!-- hết modal delete-->

    <!-- đít -->
    <footer class="text-center text-lg-start bg-white text-muted ">
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgb(238, 127, 182);color: black;">
            © 2023 Tác giả :
            <a class="text-reset fw-bold" style="text-decoration: none;" href="https://mdbootstrap.com/">HDCongHanh.com</a>
        </div>
        <!-- Copyright -->
    </footer>


    <script src="bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"> 
        var myModal = document.getElementById('myModal')
          var myInput = document.getElementById('myInput')
          myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus()
          })
            </script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        
</body>

</html>